<template>
  <div>
    <b-dropdown id="dropdown" right text="เลือกประเภท" class="float-right">
      <b-dropdown-item>เตรียมความพร้อม</b-dropdown-item>
      <b-dropdown-item>วิชาการ</b-dropdown-item>
    </b-dropdown>
    <h4>ตารางข้อมูลการอบรม</h4>
    <b-table striped hover :items="userList" :fields="fields"> </b-table>
  </div>
</template>

<script>
export default {
  data () {
    return {
      form: {},
      userList: [
        {
          ลำดับ: 1,
          วันที่: '1/08/62',
          ชื่อกิจกรรม:
            'Logical Thingking and Problem Solving Solving for Innovation',
          ชั่วโมง: '3',
          ประเภท: 'เตรียมพร้อม'
        },
        {
          ลำดับ: 2,
          วันที่: '16/08/62',
          ชื่อกิจกรรม: 'Discrete Structures',
          ชั่วโมง: '6',
          ประเภท: 'วิชาการ'
        }
      ],
      fields: ['ลำดับ', 'วันที่', 'ชื่อกิจกรรม', 'ชั่วโมง', 'ประเภท']
    }
  },
  methods: {}
}
</script>
