<template>
  <div>
    <h4>ตรวจสอบรายวิชา 10 วิชา</h4>
    <b-table striped hover :items="userList" :fields="fields">
      <template v-slot:cell(ผ่าน)="">
        <h4><b-badge variant="success">✔</b-badge></h4>
      </template>
      <template v-slot:cell(ไม่ผ่าน)=""> </template>
    </b-table>
  </div>
</template>

<script>
export default {
  data () {
    return {
      form: {},
      userList: [
        {
          ลำดับ: 1,
          รายชื่อวิชา:
            'Logical Thingking and Problem Solving Solving for Innovation'
        },
        { ลำดับ: 2, รายชื่อวิชา: 'Discrete Structures' },
        { ลำดับ: 3, รายชื่อวิชา: 'Relational Database' },
        { ลำดับ: 4, รายชื่อวิชา: 'Non-Relational Database' },
        {
          ลำดับ: 5,
          รายชื่อวิชา: 'Introduction to Data Science adnd Data Analytics'
        },
        { ลำดับ: 6, รายชื่อวิชา: 'Programming Fundamental' },
        { ลำดับ: 7, รายชื่อวิชา: 'Object-Oriented Programming Paradigm' },
        { ลำดับ: 8, รายชื่อวิชา: 'Software Development' },
        { ลำดับ: 9, รายชื่อวิชา: 'Algorithm Design and Application' },
        { ลำดับ: 10, รายชื่อวิชา: 'Data Structures and Algorithms' }
      ],
      fields: ['ลำดับ', 'รายชื่อวิชา', 'ผ่าน', 'ไม่ผ่าน']
    }
  },
  methods: {}
}
</script>
